{% include 'navbar.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Customers</h2>
  <a href="{% url 'add_customer' %}" class="btn btn-primary mb-3">Add Customer</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th><th>Phone</th><th>Email</th><th>Address</th><th>Joined</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.joined_date|date:"Y-m-d" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
